/* Pitch */
.field{
    position: relative;
    display: flex;
    justify-content: center;
}

.player {
    background-image: url("field.jpg");
    background-size: contain;
    background-repeat: no-repeat; 
    height: 802px;
    width: 500px;


  }
  .Stats{
    display: flex;
    background-color: aliceblue;
    width: 35%;
    margin: auto;
    border: 4px solid;
    border-radius: 20px;
    margin-bottom: 20px;
    color: gray;
    padding-left: 20px;
    gap: 20px;

  }
  .label{
    font-weight: bold;
    font-size: medium;
  }
  .value{
    font-weight: bolder;
    font-size: x-large;
    color: black;

  }
  /* details page */
.details {
  position: relative;
  height: 707px;
  width: 35%;
  background-color: aliceblue;
  color: gray;
  overflow-y: auto; 
}


.details::-webkit-scrollbar {
  width: 5px; 
}


.details::-webkit-scrollbar-track {
  background: transparent; 
}

.details::-webkit-scrollbar-thumb {
  background-color: gray; 
  border-radius: 10px; 
}

  .Lists{
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      border-bottom: 2px solid rgb(188, 186, 186);
  }

  .name{
    font-weight: bold;
    
  }
  .price{
    margin-right:10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
    
  }
  .price h4, .price h5 {
    margin: 0;
    padding: 0; 
}

.price h5 {
    margin-top: 5px; 
}
  .points{
    font-weight: bold;
  }
  .image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .filter{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .filter-container{
    background-color: rgb(210, 207, 207);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }



  