
.main-container{
    display: flex;
    width: 95%;
    justify-content: space-around;
    margin-bottom: 40px;
   

}
.teams{
    background-color: #2B323D;
height: 40vh;
width: 25%;
border-radius: 20px;
display: flex;
flex-direction: column;
color: aliceblue;
align-items: center;
justify-content: space-around;

}
.teams h2 {
    margin: 5px 0; /* Adjust the margin as needed */
    padding: 0;
}
.headline{
    background-color: #2B323D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 40%;
    margin: auto;
    overflow-y: scroll;
 padding-top: 200px;

}
.headline::-webkit-scrollbar {
    width: 5px; 
  }
  
  
  .headline::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .headline::-webkit-scrollbar-thumb {
    background-color: gray; 
    border-radius: 10px; 
  }
.main-headline{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 2px solid gray;
}
.matches{
    background-color: #2B323D;
    border-radius: 20px;
    height: 60vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    justify-content: space-around;
    text-align: center;
}
.matches h2{
    margin: 5px 0; /* Adjust the margin as needed */
    padding: 0;
}
.small-news{
    background-color: #2B323D;
    border-radius: 20px;
    margin: 10px;
    margin-left: 20px;
    height: 17vh;
    width: 20%;
    padding: 10px;


}
.news{
    height: 100%;
    display: flex;
    justify-content: space-around;

}
.topics p {
    list-style: none;
    text-decoration: none !important;
    color: aliceblue;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.topics h1 {
    list-style: none;
    text-decoration: none !important;
    color: aliceblue;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.topics h2 {
    list-style: none;
    text-decoration: none !important;
    color: aliceblue;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.topics p, .topics h1, .topics h2, .topics a {
    list-style: none;
    text-decoration: none !important;
    color: aliceblue;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}