body {
  
    background-color: #222831;
  
}
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


footer {
    margin-top: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px; /* Adjusted padding */
    background-color: #2B323D;
    color: #fff;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-left p {
    margin: 5px 0;
}

.footer-right {
    display: flex;
    gap: 15px;
}

.footer-right a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
}

.footer-right a:hover {
    color: #1da1f2;
}
